
body {
    background: url(../mission.svg) center no-repeat;
    background-size: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    


#flash_message {
 color: red;
 font-family: 'Times New Roman', Times, serif
} 



header h1 {
    margin-left: 160px;
    text-align: left;
}



.nav_links a:hover{
    background-color: black;
    color: white;
}

ul a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
    
}
ul a:hover {
    text-decoration: none;
    font-weight: bold;
    color:white;
    background-color: black;
}


#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The navigation menu links */
..nav_links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
#sidenav a {
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  #sidenav a:hover {
    color: #f1f1f1;
  }

 #main {
  margin-left: 160px; /* Same as the width of the sidebar */
  text-align: left;
 
}


.button {
    display: inline-block;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    width: 300px;
    height: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(48, 46, 46);
    color: white;


}

.button a {
    text-decoration: none;
    font-size: small;
    color: white;

    
}

.button:hover {
    background-color: gray;
}

.button a:hover {
    color: black;
} 

.heading_h4 {
    text-align: center;
}


label {
    font-weight: bold;
}

#goal_button {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    align-items: flex-end;
}

#workout_button {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

ul .list_title li{
    text-decoration: none;
    font-weight: bold;

}

ul .list_title li:hover{
    color: black;
    background-color: white;
    
}
/*
.submit_button {
    padding: 5px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    width: 300px;
    height: 20px;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(48, 46, 46);
    color: white;
}

.submit_button:hover {
    background-color: white;
    color: black;
}
*/
