<div id="flash_message">
    <% if flash.include?(:message) %>
        <%= flash[:message] %>
    <% end %>
</div>
<br>
<div class="name">
    Name: <%=@user.name%>
</div>
<br>
<div class="email">
    Email: <%=@user.email%>
</div>
<br>
<div>
    <button onclick="window.location.href='/users/<%=@user.id%>/edit';">Edit account info</button>
</div>