<div class="heading h2">
    <h2>Create New Goal</h2>
</div>

<div class="form">
<form action="/goals" method="post">
    <br>
    <div class="form_input_select">
        <label for="goal_category">Select type of workout</label>
        <%# <input list="category" id="category" name="workout[category]" /> %>
        <select name="goal[category]">
            <option value="Warmup/Stretch"> Warmup / Stretch </option>
            <option value="Cardio">Cardio</option>
            <option value="Weights">Weights</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <br>
    <div class="form_input_date">
        <label for="start_date">Start Date</label>
        <input id="start_date" type="date" name="goal[start_date]" required>
    </div>
    <br>
        <div class="form_input_date">
        <label for="end_date">End Date</label>
        <input id="end_date" type="date" name="goal[end_date]" required>
    </div>
    <br>
    <div class="form_input_integer">
        <label for="workout_time">Time:</label>
        <input id="workout_time" type="integer" name="workout[time]" required> 
    </div>
    <div class="form_input_radio">
        Minute(s)<input type="radio" name="workout[time_units]" value="minute(s)"required> 
    </div>
    <div class="form_input_radio">
        Hour(s)<input type="radio"name="workout[time_units]" value="hour(s)" required> 
    </div>
    <br>
    <div class="form_input_textarea">
        <label for="goal_description">Description of goal/ extra details</label>
        <input id="goal_description" type="textarea" name="goal[description]">
    </div>
    <br>
    <div class="button">
        <input type="submit" value="Create New Goal">
    </div>
</form> 
</div>

    <a href="/goals">Goals</a>
