<DOCTYPE! html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Progress Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>

<body>    


<header>
    <h1>>Flatiron Fitness</h1>
    <nav>
    <div>

        <%if logged_in?%>
            <a href="/users/<%=user.id%>">Home</a>
            <a href="/users/<%=@user.id}%>/account">Account</a>
            <a href="/sessions/logout" >Log Out</a>
        <%else%>
            <a href="/signup">Sign Up</a>
            <a href="/sessions/login">Log In</a>
        <%end%> 
        </div>
    </nav>

</header>

    <div class="container">
        <%= yield %>
    </div>

</body>



</html>